crewai
streamlit
pandas
sqlalchemy
ollama
python-dotenv
pydantic
langchain
langchain-community 
psycopg2-binary
litellm
chromadb
sentence-transformers
plotly
crewai-tools
langchain-ollama
openpyxl
requests